@import './base.css';


h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.teams-section h2 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

p {
    color: #666;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: left;
}